// SPDX-License-Identifier: LGPL-2.1-or-later

#ifndef IDO_CRYPTO_H
#define IDO_CRYPTO_H
//AES Key
//Put a 128 bit hex key
//example of online generator https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx
static uint8_t IDO_KEY[] = {0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX, 0xXX}; 
#endif
